<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ page.link('/assets/style.css') }}" />
</head>
<body>
    <header class="site-header">
        <h1>{{ site.title }}</h1>
        <nav>
            <ul>
                <li><a href="{{ page.link('index') }}.html">Home</a></li>
                <li><a href="{{ page.link('tags') }}.html">Tags</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        {% block main %}
            <h2>{% if page.title is defined %}{{ page.title }}{% else %}Untitled{% endif %}</h2>
            <dl>
                {% for key, value in page.metadata %}
                    <dt>{{ key }}</dt>
                    <dd>
                        {% if instanceof(value, 'DateTime') %}
                            {{ value.format('c') }}
                        {% elseif value is iterable %}
                            <ul>
                                {% for v in value %}
                                    <li>{{ v }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
            {{ page.body|md2html|raw }}
        {% endblock %}
    </main>
    <footer>
        <p>
            This page in other formats:
            <a href="{{ page.link(page.id~'.pdf') }}">PDF</a>,
            <a href="{{ page.link(page.id~'.json') }}">JSON</a>.
        </p>
    </footer>
</body>
</html>
