{% extends 'index.html.twig' %}

{% block main %}

    <h2>{{ page.metadata.title }}</h2>

    {{ page.body }}

    <ol>
    {% for p in database.query('select * from pages order by date desc limit 10') %}
        <li>
            <h3><a href="{{ page.link(p.id) }}">{{ p.title }}</a> {{ p.date }}</h3>
            {{ p.body }}
        </li>
    {% endfor %}
    </ol>

{% endblock %}
