{% extends 'index.html.twig' %}

{% block main %}

    <h2>{{ page.metadata.title }}</h2>

    {{ page.body|md2html|raw }}

    {% set example_data = get_json('https://microsoftedge.github.io/Demos/json-dummy-data/64KB.json') %}

    <p>Example description: {{example_data.3.bio}}</p>

    <p>Another JSON example: {{get_json('https://api.wikitree.com/api.php?action=getProfile&key=Hall-22337').0.profile.LongName}}</p>

    <p>An XML example: {{ get_xml('https://archive.org/download/raobrules1960/raobrules1960_files.xml').file.1._attributes.name }}</p>

    <ol>
    {% for p in database.query('SELECT * FROM pages WHERE date IS NOT NULL ORDER BY date DESC LIMIT 10') %}
        <li>
            <h3><a href="{{ page.link(p.id) }}.html">{{ p.title }}</a> {{ p.date|date('D J M') }}</h3>
            {{ p.body|md2html|raw }}
        </li>
    {% endfor %}
    </ol>

{% endblock %}
