{% extends 'index.html.twig' %}

{% block main %}

    <h2>{{ page.metadata.title }}</h2>

    {{ page.body|md2html|raw }}

    <p>Wikipedia says the following about tags:</p>
    <blockquote>
        {{wikipedia('en', 'Tag (metadata)')|raw}}
        <p><em><a href="https://en.wikipedia.org/wiki/Tag_(metadata)">Read more…</a></em></p>
    </blockquote>

    <p>
        There are
        {{ database.query('SELECT COUNT(*) FROM pages WHERE id IN (SELECT "/tags/"||j.value FROM pages p, json_each(p.tags) j)').fetchColumn()|format_spellout_number }}
        tags in this example site:
    </p>

    <ol>
        {% for p in database.query('SELECT * FROM pages WHERE id IN (SELECT "/tags/"||j.value FROM pages p, json_each(p.tags) j)') %}
            <li><a href="{{ page.link(p.id) }}.html">{{ p.title }}</a></li>
        {% endfor %}
    </ol>

{% endblock %}
