{% set commons = commons(shortcode.attr('file')) %}

<figure itemscope itemtype="http://schema.org/ImageObject">
    <a href="{{ commons.imageinfo.0.descriptionurl }}">
        <img src="{{ commons.imageinfo.0.thumburl }}"
             width="{{ commons.imageinfo.0.thumbwidth }}"
             height="{{ commons.imageinfo.0.thumbheight }}"
             itemprop="contentUrl"
             alt="{{ commons.labels.en.value|escape('html_attr') }}"
        />
    </a>
    <figcaption itemprop="caption">
        {{ commons.labels.en.value }}
    </figcaption>
</figure>
